<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-full.svg">
        <!-- <span class="title">Mango</span> -->
      </div>
      <div class="desc">商品信息管理系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright" nzTheme="outline"></i> 2019
      <a href="https://github.com/zero-hero-he" target="_blank">songwen</a>出品
    </global-footer>
  </div>
</div>
