<div class="modal-header">
  <div class="modal-title">查看 {{ record.name }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i" >
  <sv label="品牌简称">{{ i.name }}</sv>
  <sv label="品牌全称">{{i.fullName}}</sv>
  <sv label="联系方式">{{i.contact}}</sv>
  <sv label="详细地址">{{this.i.provinceName}} {{this.i.cityName}} {{this.i.countryName}}</sv>
  <sv label="备注">{{i.note}}</sv>
  <sv label="图片">{{i.images}}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
