<page-header [title]="'品牌管理'"></page-header>

<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">品牌名称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.name" name="name" value='' placeholder="请输入" id="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">使用状态</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.status" name="status" id="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div> -->

      <div nz-col [nzSpan]="8">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
      </div>
    </div>
  </form>
  <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>新建</span>
  </button>
  <ng-container *ngIf="selectedRows.length > 0">
    <!-- <button nz-button>批量操作</button> -->
    <button nz-button nz-dropdown [nzDropdownMenu]="batchMenu" nzPlacement="bottomLeft">
      更多操作
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #batchMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="remove()">删除</li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        已选择
        <strong class="text-primary">{{ selectedRows.length }}</strong> 项
        <a *ngIf="selectedRows.length > 0" (click)="st.clearCheck()" class="ml-lg">清空</a>
      </ng-template>
    </nz-alert>
  </div>
  <st #st [columns]="columns" [data]="data" [total]="total" [loading]="loading" [page]="pages" (error)="stError($event)"
    (change)="stChange($event)">
    <ng-template st-row="note" let-i>
      <span nz-tooltip [nzTooltipTitle]="i.note">{{ i.noteShort }}</span>
    </ng-template>
  </st>

</nz-card>

<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="name">品牌简称</nz-form-label>
    <nz-form-control>
      <input nz-input required [(ngModel)]="addData.name" name="name" placeholder="请输入品牌简称" id="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="fullName">品牌全称</nz-form-label>
    <nz-form-control>
      <input nz-input required [(ngModel)]="addData.fullName" name="fullName" placeholder="请输入品牌全称" id="fullName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="contact">联系方式</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="addData.contact" name="contact" placeholder="请输入联系方式" id="contact" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="province">省</nz-form-label>
    <nz-form-control>
      <nz-select name="province" style="width: 150px" nzShowSearch nzAllowClear nzPlaceHolder="选择省"
        [(ngModel)]="provinceValue" (ngModelChange)="provinceChange($event)">
        <nz-option *ngFor="let province of provinces" [nzLabel]="province.name" [nzValue]="province.provinceId">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="city">市</nz-form-label>
    <nz-form-control>
      <nz-select name="city" style="width: 150px" nzShowSearch nzAllowClear nzPlaceHolder="选择市" [(ngModel)]="cityValue"
        (ngModelChange)="cityChange($event)">
        <nz-option *ngFor="let city of citys" [nzLabel]="city.name" [nzValue]="city.cityId">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="countrys.length > 0">
    <nz-form-label nzFor="country">区</nz-form-label>
    <nz-form-control>
      <nz-select name="country" style="width: 150px" nzShowSearch nzAllowClear nzPlaceHolder="选择区"
        [(ngModel)]="countryValue" (ngModelChange)="countryChange($event)">
        <nz-option *ngFor="let country of countrys" [nzLabel]="country.name" [nzValue]="country.countryId">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="address">详细地址</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="addData.address" name="address" placeholder="请输入详细地址" id="address" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="note">备注</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="addData.note" name="note" placeholder="备注" id="note" />
    </nz-form-control>
  </nz-form-item>
</ng-template>
